@import "../components/_veriables.scss";

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;

  :global(h1) {
    text-align: center;
    line-height: 2.5em;
    color: #fff;
    font-size: 2em;

    @media (min-width: 480px) {
      font-size: 2.5em;
    }

    @media (min-width: 768px) {
      font-size: 4em;
    }
  }
  :global(span) {
    display: inline-block;
  }

  .float {
    position: absolute;
    width: 100%;
    left: 0;

    .arrow {
      transform: rotate(90deg);
      width: 56px;
      height: 56px;
      animation-name: heartFadeInOut;
      animation-timing-function: ease-in-out;
      animation-iteration-count: infinite;
      animation-duration: 2s;
    }
  }
}

@keyframes heartFadeInOut {
  0% {
    transform: rotate(90deg) scale(0.8);
  }
  20% {
    transform: rotate(90deg) scale(1);
  }
  40% {
    transform: rotate(90deg) scale(0.8);
  }
  60% {
    transform: rotate(90deg) scale(1);
  }
  80% {
    transform: rotate(90deg) scale(0.8);
  }
  100% {
    transform: rotate(90deg) scale(0.8);
  }
}

.section {
  padding: 1em;
  text-align: justify;

  :global(span) {
    display: inline-block;
  }

  :global(h1) {
    padding: 1em 0;
    color: $ixda-green;
    font-size: 1.75em;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 3em;
    }
  }

  :global(h2) {
    font-size: 1.75em;

    @media (min-width: 768px) {
      font-size: 3em;
    }
  }

  :global(h3) {
    color: #222;
    text-align: center;
  }

  :global(a) {
    display: inline-block;
    align-items: center;
    margin: 1em 0;
    :global(svg) {
      margin-left: 1em;
      vertical-align: middle;
    }
  }

  :global(article) {
    padding: 1em 1em 1em 1em;
    color: #7f7f7f;
    margin: 0 auto;
    max-width: 1000px;
    line-height: 1.6em;
    &.align-left {
      margin: unset;
      @media (min-width: 768px) {
        margin: 0 auto 0 2em;
      }
    }
  }

  .hightlight {
    display: flex;
    justify-content: space-around;
    text-align: center;
    line-height: 1.6em;
    margin: 2em 0;

    > div {
      width: 25%;
    }

    @media (min-width: 768px) {
      .field {
        font-size: 2em;
      }
    }
  }
}

.main-section {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 60%;
  background-image: url("data:image/svg+xml,%0A%3Csvg width='556px' height='121px' viewBox='0 0 556 121' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round'%3E%3Cg id='ixda-web-copy' transform='translate(-440.000000, -1473.000000)' stroke='%23AFEC65' stroke-width='5'%3E%3Cg id='Group-22' transform='translate(443.000000, 1467.000000)'%3E%3Cg id='Group-21'%3E%3Cpath d='M5.68434189e-14,23.4603862 L17.6101115,14.4437913 C34.8122839,5.63606628 55.5298161,7.4006401 70.9946476,18.990711 C86.0843215,30.2996211 106.720411,30.6739387 122.210288,19.9197104 L125.640404,17.5382676 C140.611551,7.14417991 160.61197,7.73336024 174.945301,18.990711 L176.137618,19.9271532 C189.467665,30.3965281 208.333525,30.0046268 221.217298,18.990711 C234.506832,7.62992416 253.499846,5.84018219 268.677691,14.5184426 L284.316704,23.4603862 L284.316704,23.4603862' id='Path-2'%3E%3C/path%3E%3Cpath d='M280.656462,16.3489649 L283.942965,14.6309798 C301.045397,5.69086406 321.762074,7.36710842 337.204698,18.9405359 C352.294372,30.249446 372.930461,30.6237636 388.420338,19.8695352 L391.850454,17.4880925 C406.821602,7.09400475 426.82202,7.68318509 441.155351,18.9405359 L442.347668,19.876978 C455.677715,30.3463529 474.543575,29.9544516 487.427348,18.9405359 C500.716882,7.579749 519.709896,5.79000703 534.887741,14.4682675 L550.526755,23.4102111 L550.526755,23.4102111' id='Path-2' transform='translate(415.591608, 18.940536) scale(1, -1) translate(-415.591608, -18.940536) '%3E%3C/path%3E%3C/g%3E%3Cg id='Group-21' transform='translate(0.000000, 19.000000)'%3E%3Cpath d='M5.68434189e-14,23.4603862 L17.6101115,14.4437913 C34.8122839,5.63606628 55.5298161,7.4006401 70.9946476,18.990711 C86.0843215,30.2996211 106.720411,30.6739387 122.210288,19.9197104 L125.640404,17.5382676 C140.611551,7.14417991 160.61197,7.73336024 174.945301,18.990711 L176.137618,19.9271532 C189.467665,30.3965281 208.333525,30.0046268 221.217298,18.990711 C234.506832,7.62992416 253.499846,5.84018219 268.677691,14.5184426 L284.316704,23.4603862 L284.316704,23.4603862' id='Path-2'%3E%3C/path%3E%3Cpath d='M280.656462,16.3489649 L283.942965,14.6309798 C301.045397,5.69086406 321.762074,7.36710842 337.204698,18.9405359 C352.294372,30.249446 372.930461,30.6237636 388.420338,19.8695352 L391.850454,17.4880925 C406.821602,7.09400475 426.82202,7.68318509 441.155351,18.9405359 L442.347668,19.876978 C455.677715,30.3463529 474.543575,29.9544516 487.427348,18.9405359 C500.716882,7.579749 519.709896,5.79000703 534.887741,14.4682675 L550.526755,23.4102111 L550.526755,23.4102111' id='Path-2' transform='translate(415.591608, 18.940536) scale(1, -1) translate(-415.591608, -18.940536) '%3E%3C/path%3E%3C/g%3E%3Cg id='Group-21' transform='translate(0.000000, 38.000000)'%3E%3Cpath d='M5.68434189e-14,23.4603862 L17.6101115,14.4437913 C34.8122839,5.63606628 55.5298161,7.4006401 70.9946476,18.990711 C86.0843215,30.2996211 106.720411,30.6739387 122.210288,19.9197104 L125.640404,17.5382676 C140.611551,7.14417991 160.61197,7.73336024 174.945301,18.990711 L176.137618,19.9271532 C189.467665,30.3965281 208.333525,30.0046268 221.217298,18.990711 C234.506832,7.62992416 253.499846,5.84018219 268.677691,14.5184426 L284.316704,23.4603862 L284.316704,23.4603862' id='Path-2'%3E%3C/path%3E%3Cpath d='M280.656462,16.3489649 L283.942965,14.6309798 C301.045397,5.69086406 321.762074,7.36710842 337.204698,18.9405359 C352.294372,30.249446 372.930461,30.6237636 388.420338,19.8695352 L391.850454,17.4880925 C406.821602,7.09400475 426.82202,7.68318509 441.155351,18.9405359 L442.347668,19.876978 C455.677715,30.3463529 474.543575,29.9544516 487.427348,18.9405359 C500.716882,7.579749 519.709896,5.79000703 534.887741,14.4682675 L550.526755,23.4102111 L550.526755,23.4102111' id='Path-2' transform='translate(415.591608, 18.940536) scale(1, -1) translate(-415.591608, -18.940536) '%3E%3C/path%3E%3C/g%3E%3Cg id='Group-21' transform='translate(0.000000, 57.000000)'%3E%3Cpath d='M5.68434189e-14,23.4603862 L17.6101115,14.4437913 C34.8122839,5.63606628 55.5298161,7.4006401 70.9946476,18.990711 C86.0843215,30.2996211 106.720411,30.6739387 122.210288,19.9197104 L125.640404,17.5382676 C140.611551,7.14417991 160.61197,7.73336024 174.945301,18.990711 L176.137618,19.9271532 C189.467665,30.3965281 208.333525,30.0046268 221.217298,18.990711 C234.506832,7.62992416 253.499846,5.84018219 268.677691,14.5184426 L284.316704,23.4603862 L284.316704,23.4603862' id='Path-2'%3E%3C/path%3E%3Cpath d='M280.656462,16.3489649 L283.942965,14.6309798 C301.045397,5.69086406 321.762074,7.36710842 337.204698,18.9405359 C352.294372,30.249446 372.930461,30.6237636 388.420338,19.8695352 L391.850454,17.4880925 C406.821602,7.09400475 426.82202,7.68318509 441.155351,18.9405359 L442.347668,19.876978 C455.677715,30.3463529 474.543575,29.9544516 487.427348,18.9405359 C500.716882,7.579749 519.709896,5.79000703 534.887741,14.4682675 L550.526755,23.4102111 L550.526755,23.4102111' id='Path-2' transform='translate(415.591608, 18.940536) scale(1, -1) translate(-415.591608, -18.940536) '%3E%3C/path%3E%3C/g%3E%3Cg id='Group-21' transform='translate(0.000000, 76.000000)'%3E%3Cpath d='M5.68434189e-14,23.4603862 L17.6101115,14.4437913 C34.8122839,5.63606628 55.5298161,7.4006401 70.9946476,18.990711 C86.0843215,30.2996211 106.720411,30.6739387 122.210288,19.9197104 L125.640404,17.5382676 C140.611551,7.14417991 160.61197,7.73336024 174.945301,18.990711 L176.137618,19.9271532 C189.467665,30.3965281 208.333525,30.0046268 221.217298,18.990711 C234.506832,7.62992416 253.499846,5.84018219 268.677691,14.5184426 L284.316704,23.4603862 L284.316704,23.4603862' id='Path-2'%3E%3C/path%3E%3Cpath d='M280.656462,16.3489649 L283.942965,14.6309798 C301.045397,5.69086406 321.762074,7.36710842 337.204698,18.9405359 C352.294372,30.249446 372.930461,30.6237636 388.420338,19.8695352 L391.850454,17.4880925 C406.821602,7.09400475 426.82202,7.68318509 441.155351,18.9405359 L442.347668,19.876978 C455.677715,30.3463529 474.543575,29.9544516 487.427348,18.9405359 C500.716882,7.579749 519.709896,5.79000703 534.887741,14.4682675 L550.526755,23.4102111 L550.526755,23.4102111' id='Path-2' transform='translate(415.591608, 18.940536) scale(1, -1) translate(-415.591608, -18.940536) '%3E%3C/path%3E%3C/g%3E%3Cg id='Group-21' transform='translate(0.000000, 95.000000)'%3E%3Cpath d='M5.68434189e-14,23.4603862 L17.6101115,14.4437913 C34.8122839,5.63606628 55.5298161,7.4006401 70.9946476,18.990711 C86.0843215,30.2996211 106.720411,30.6739387 122.210288,19.9197104 L125.640404,17.5382676 C140.611551,7.14417991 160.61197,7.73336024 174.945301,18.990711 L176.137618,19.9271532 C189.467665,30.3965281 208.333525,30.0046268 221.217298,18.990711 C234.506832,7.62992416 253.499846,5.84018219 268.677691,14.5184426 L284.316704,23.4603862 L284.316704,23.4603862' id='Path-2'%3E%3C/path%3E%3Cpath d='M280.656462,16.3489649 L283.942965,14.6309798 C301.045397,5.69086406 321.762074,7.36710842 337.204698,18.9405359 C352.294372,30.249446 372.930461,30.6237636 388.420338,19.8695352 L391.850454,17.4880925 C406.821602,7.09400475 426.82202,7.68318509 441.155351,18.9405359 L442.347668,19.876978 C455.677715,30.3463529 474.543575,29.9544516 487.427348,18.9405359 C500.716882,7.579749 519.709896,5.79000703 534.887741,14.4682675 L550.526755,23.4102111 L550.526755,23.4102111' id='Path-2' transform='translate(415.591608, 18.940536) scale(1, -1) translate(-415.591608, -18.940536) '%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

  @media (min-width: 768px) {
    background-size: 40%;
  }
}

.retrospect {
  .items {
    .item {
      color: #666;

      .title {
        display: flex;

        :global(h4) {
          color: $ixda-dark-green;
          font-size: 1.25em;
        }

        flex-direction: column-reverse;
        > :global(div) {
          :global(img) {
            width: 100%;
          }
        }
      }

      .author {
        margin: 1em 0;
        display: flex;
        :global(h4) {
          color: $ixda-green;
          margin: 0px;
          font-weight: normal;
        }
        > :global(div) {
          margin-right: 1em;
        }
        :global(img) {
          border-radius: 100%;
          width: 36px;
        }
      }
    }

    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1200px;
      align-items: top;
      margin: 0 auto;
      .item {
        width: calc((100% - 4em) / 2);
        .title {
          flex-direction: row;
          .content {
            margin-right: calc(100px + 1em);
            :global(h4) {
              margin: 0 0 1em 0;
            }
          }
          .image {
            position: relative;
            :global(img) {
              right: 0px;
              position: absolute;
              width: 100px;
              height: 100px;
              object-fit: cover;
            }
          }
        }
      }
    }

    @media (min-width: 960px) {
      .item {
        .title {
          .content {
            margin-right: calc(150px + 1em);
          }
          .image {
            :global(img) {
              width: 150px;
              height: 150px;
            }
          }
        }
      }
    }
  }
}
